.aboutus-bg {
    height: 327px;
    background: url("https://lh6.googleusercontent.com/oaSO57DhLMgE6NPt4cHgwCkPK-CCdyoQ759X8I2fb4LyL9kOf9hQsCqjbPOKiPjm0815-gDWJLAw85ujyxjIPBE=w16383") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.aboutus-banner-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 385px;
}

.aboutus-banner-text {
    color: #fff;
    text-align: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.content-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-l img {
    width: 100%;
    height: 451px;
}

.content2-l img {
    width: 100%;
    height: 249px;
}

.content-l .content2-l{
    padding: 2rem;
}

.content2-r h3{
    color: #14279B;
}

.content2-r {
    padding:0 2rem;
    text-align: center;
}


@media screen and (max-width: 480px) {
    .aboutus-banner-text {
        padding: 0 2rem;
    }
}
@media screen and (max-width: 480px) {
    .content-con {
        flex-direction: column;
    }
    .content-con:nth-child(2).content-r {
        order:1;
    }
}