.container {
    max-width: 1140px;
    margin: 0 auto;
}

.banner-bg {
    height: 385px;
    background: url("../images/banner_home.png") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.banner-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 385px;
}

.banner-text {
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .banner-text {
        padding: 0 2rem;
    }
}