.container {
    max-width: 1140px;
    margin: 0 auto;
}

.content-con {
    display: flex;
    justify-content: space-between;
}

.content-l img {
    width: 100%;
    border-radius: 50px;
}

.content-l {
    padding: 2rem;
    text-align: left;
    direction: ltr;
}

.content-l h3{
    color: #14279B;
}

.content-r h3{
    color: #14279B;
}

.content-r {
    padding: 2rem;
    text-align: right;
    direction: rtl;
}

.content-up {
    align-content:center;
    justify-content: space-between;
    display: flex;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 3rem;
}

.content-up img{
    width: 176px;
    height: 163px;
}

.content-down {
    align-content:center;
    justify-content: space-between;
    display: flex;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-top: 3rem;
}

.content-down img{
    width: 176px;
    height: 163px;
}

.title-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;

}

.title-con-cus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color:#193498;
}

.title-cus-text {
    color: #fff;
}

.title-text {
    color: #0960BD;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .content-con {
        flex-direction: column;
    }
    .content-con:nth-child(2).content-r {
        order:1;
    }
}