.footer {
    background-color: #011F3F;
    height: 82px;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
    
 }

.footer-con {
    display: flex;
    justify-content: space-between;
    height: 82px;
    align-items: center;
} 

.footer-con-l img {
    width: 243px;
    height: 50px;
    padding-left: 10rem;
}

.footer-con-r p{
    font-size:12px;
    color: #fff;
    text-align: right;
    padding-right: 10rem;

}

@media screen and (max-width: 480px) {
    .footer-con {
        flex-direction: column;
    }
}