 .container {
     max-width: 1140px;
     margin: 0 auto;
 }

 .header {
    background-color: #011F3F;
    height: 50px;
 }

 .header-con {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
 } 

 .logo-container a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 10px;
 }

 .logo-container a img{
    width: 156px;
    height: 33px;
    align-items: center;
 }

 .menu {
     display: flex;
     list-style-type: none;
 }

 .menu li {
    color: #fff;
    padding-right: 40px;
 }

 .menu li a {
     text-decoration: none;
     color: #fff;
 }

 .mobile-menu {
     display: none;
 }

 @media screen and (max-width: 480px) {
    .mobile-menu {
        display: block;
        color: #fff;
        font-size: 2rem;
    }
    .header {
        padding:0 2rem;
    }
    .menu {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 33px;
        left: -100%;
        opacity: 0;
        transition: 0.5s ease;
    }
    .menu.active {
        background: #011F3F;
        left: 0;
        opacity: 1;
        z-index: 1;
        padding-left: 0;
        align-items: center;
        transition: 0.5s ease;
    }
    
    .menu li {
        padding-right: 0;
    }
    .menu-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10px;
        padding: 20px 0;
    }
 }


