.bg {
    height: 327px;
    background-color: #193498;
    background-size: cover;
    overflow: hidden;
}

.publication-banner-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 385px;
}

.publication-banner-text {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.content-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content p{
    padding:0 2rem;
    text-align: left;
    align-items: center;

}